@CHARSET "UTF-8";

a {
	text-decoration: none;
}

/*HEADER*/
header .header_button {
	font-size: 50px;
	color: #00cf00;
	text-align: center;
	padding: 20px;
	cursor: pointer;
}

header .header_button.selected i,
header .header_button:hover i {
	text-shadow: 2px 2px 0px #888888;
}
/*!HEADER*/

/*INDEX*/
.loading {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	z-index: 9999;
}

.loading:after {
	content: '../img/loading.gif';
	position: absolute;
	width: 50px;
	height: 50px;
	left: calc(50% - 25px);
	top: calc(50% - 25px);
}
/*!INDEX*/

/*TWEET LIST*/
#tweet_list .tweet {
	border: 2px solid #00A300;
	border-radius: 5px;
	margin: 10px 0;
}

#tweet_list .tweet .tweet_header {
	background: #008000;
	padding: 5px;
}

#tweet_list .tweet .tweet_header .follow_user{
	color: #ffffff;
}

#tweet_list .tweet .tweet_header .follow_user.followed, #tweet_list .tweet .tweet_header .follow_user:hover
	{
	color: blue;
}

#tweet_list .tweet .tweet_header .follow_user.followed:hover {
	color: red;
}

#tweet_list .tweet .tweet_header .delete_tweet,
#tweet_list .tweet .tweet_header .edit_tweet{
	color: #ffffff;
}

#tweet_list .tweet .tweet_header .delete_tweet:hover{
	color: red;
}

#tweet_list .tweet .tweet_header .edit_tweet:hover{
	color: blue;
}

#tweet_list .tweet .tweet_header .user_link {
	opacity: 0.85;
	text-decoration: none;
	color: #ffffff;
}

#tweet_list .tweet .tweet_header .user_link:hover {
	opacity: 1;
}

#tweet_list .tweet .tweet_header .rate_tweet {
	color: #ffffff;
}

#tweet_list .tweet .tweet_header .rate_tweet.like.rated, #tweet_list .tweet .tweet_header .rate_tweet.like:hover
	{
	color: blue;
}

#tweet_list .tweet .tweet_header .rate_tweet.dislike.rated, #tweet_list .tweet .tweet_header .rate_tweet.dislike:hover
	{
	color: red;
}

#tweet_list .tweet .tweet_content {
	background: #2ED22E;
	padding: 10px;
}

#tweet_list .tweet .tweet_comments .comment_tweet{
    color: #000000;
}

#tweet_list .tweet .tweet_comments .comment_area{
	resize: none;
}

/*EDIT TWEET FORM*/
#edit_tweet_form #tweet_textarea{
	resize: none;
	height: 100px;
}
/*!EDIT TWEET FORM*/
/*!TWEET LIST*/
label.error, label.error_label {
	display: none;
	font: normal 10px arial;
	padding: 3px;
	margin: 3px;
	background-color: #ffc;
	border: 1px solid #c00;
}